<!DOCTYPE html>
<html lang="en">
  <%-include('./head')%>
<body>
  <h1>로그인</h1>
  <form onsubmit="login(event)">
    <input type="text" id="userid" placeholder="아이디" />
    <input type="passwor" id="pw" placeholder="비밀번호" />
    <button type="submit">로그인</button>
  </form>
  <br />
  <a href="/">홈</a>
  <a href="/register">회원가입</a>

  <script>
    async function login(event){
      event.preventDefault()//원래 갖고있는 고유 기능을 해제한다. 지금은 form태그에 사용하였지만, 앵커 태그에 사용하는 경우도 있다.
      try{
        const res = await axios({
          method:"POST",
          url:"/login",
          data:{
            userid: document.querySelector('#userid').value,
            pw: document.querySelector('#pw').value,
          }
        })
        if(res.data.data.result){
          alert(`${res.data.data.id}님 로그인 성공`);
          document.cookie = 'testCookie=signup; path=/';//쿠키를 특정 url로 위치시키기
          document.location.href = '/';
        }else{
          alert(`${res.data.message}`);
          document.location.reload();
        }
      }catch(err){
        console.log(err);
      }
    }
  </script>
</body>
</html>