<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/header.ejs')%>
</head>
<body>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <div class="about content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt suscipit aspernatur incidunt accusamus, quas veniam cupiditate consectetur perspiciatis atque, alias tempore numquam vel molestiae adipisci accusantium velit nesciunt assumenda quam.
  </div>
  <%-include('./partials/footer.ejs')%>
</body>
</html>