<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/header.ejs')%>
</head>
<body>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <div class="create-blog content">
    form태그가 들어감
  </div>
  <%-include('./partials/footer.ejs')%>
</body>
</html>