<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/header.ejs')%>
  </head>
<body>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <div class="blogs content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nam iste quaerat expedita quae quo eius cupiditate minima, veritatis corrupti! Ipsa animi et expedita officia fugit deleniti, excepturi iure quod?
  </div>

  <%-include('./partials/footer.ejs')%>
</body>
</html>