<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/header.ejs')%>
</head>
<body>
  <h1>CREATE</h1>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <div class="create-blog content">
    <form action="">
      <input type="text">
      <textarea name="" id="contents" cols="30" rows="10"></textarea>
      <label for="contents"></label>
      <button>작성하기</button>
    </form>
  </div>
  <%-include('./partials/footer.ejs')%>
</body>
</html>