<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./partials/header.ejs')%>
</head>
<body>
  <h1>HOME</h1>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <div class="blogs content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui ullam saepe nemo alias ducimus repellat ipsum laudantium voluptate non praesentium vel molestias ipsam commodi, aliquam aspernatur. Expedita, cumque soluta!
  </div>
  <%-include('./partials/footer.ejs')%>
</body>
</html>