<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog <%=title%></title>
</head>
<body>
  <h1>about</h1>
  <nav>
    <div>
      <a href="#"><h1>Blog<h1></a>
      <p>my first blog</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">New Blog</a></li>
    </ul>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ut similique quaerat maxime tenetur quibusdam voluptatum autem iure quo eaque esse ipsam, beatae sapiente voluptatibus suscipit qui? Molestiae, aliquam deleniti.
  Dignissimos voluptatibus dolorum at repudiandae tenetur dolore est quaerat blanditiis soluta ab et, consequatur laborum ipsum tempore molestiae veniam similique optio esse qui? Officiis minus, vitae repellat rem omnis aliquid!
  Esse non fuga vero aut perferendis aperiam velit corporis doloremque sit, qui ullam officia distinctio eum quod eos autem. Nisi quibusdam cumque repudiandae dolorum aliquid quam ducimus commodi facilis voluptas.
  Quod, necessitatibus possimus alias perferendis aliquam harum tempora animi magnam atque minus iusto qui aspernatur enim numquam ducimus dolor nam molestias vero nostrum corrupti quasi? Voluptas deserunt ipsam error dolorem.</p>
</body>
</html>