<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <h1>작성하기</h1>
  <nav>
    <div>
      <a href="#"><h1>Blog</h1></a>
      <p>my first blog</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">New Blog</a></li>
    </ul>
  </nav>
</body>
</html>