.beach1{
  /* 임시) 원래 위치를 파악하기 위해 넣는 배경색 */
  background-color: blue;

  width: 400px;
  height: 250px;
  position: absolute;
  top: 200px;
  left: 200px;
}
img{
  /* %단위 : 부모 요소의 n%를 차지한다. */
  width:100%;
  height:100%;
}
img:hover {

  /* transition 속성
    -transform이랑 함께 자주 쓰임
    -css 속성값이 변화할 때 일정시간동안 변화가 일어나도록
  */
  transition: transform 1s;
  /* 이미지에 마우스가 올라갈 때, transform 속성을 1초동안 적용. */

  /* skew(): 원하는 각도만큼 객체를 기울임. */
  /* transform:skewX(30deg); */
  /* transform:skewY(30deg); */
  /* transform:skew(30deg,30deg); */
  /* scale()ㅣ 크기 조절(확대, 축소)
    -1보다 큰 값: 확대
    -0~1 사이의 값: 축소
  */
  /* transform:scaleX(2); */
  /* transform:scaleY(2); */
  /* transform:scale(2,0.5); */
  /* rotate(): 회전 */
  /* transform: rotateX(45deg); */
  /*X축 기준 회전*/
  /* transform: rotateY(45deg); */
  /*Y축 기준 회전*/
  transform: rotate(45deg);
  /*시계방향 회전*/

  /* translate(): 이동 */
  /* transform: translateX(100px); */
  /* transform: translateY(100px); */
  /* transform: translate(100px,100px); */
  /* transform: translate(-100px,-100px); */
}