h3{
  text-align: center;
}

header{
  background-color: #ccc;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.left-box{
  display:flex;
  align-items: center;
}
.menus{
  display: flex;
  /* ul태그 기본 스타일 삭제. */
  list-style: none;
  padding : 0 0 0 0;
  margin: 0 0 0 16px;
}
.menu:not(:last-child){
  margin-right:16px;
}

.signup{
  margin-left : 16px;
}

.right-box{
  display: flex;
  align-items: center;
}