div{
  width:700px;
  height:400px;
  background-color: #888;
  display: flex;
  align-items: center;
  align-content: center;
}

img{
  position:absolute;
  transform:skewY(20deg);
}
.c1{
  left:100px;
  width:200px;
  height:200px;
  z-index: 3;
  top: 150px;
}
.c2{
  width:200px;
  height:200px;
  z-index: 2;
  left: 250px;
  top:100px;
}
.c3{
  width:200px;
  height:200px;
  z-index: 1;
  left:400px;
  top:50px;
}