.container{
  position:fixed;
  top:10px;
  background-color: grey;
  width:900px;
  height:500px;
}

.item{
  border-radius: 50%;
  position : absolute;
}
.item1{
  width:10px;
  height:10px;
  background-color: black;
  top: 50px;
  left:100px;
  z-index:100;
}

.item2{
  width:20px;
  height:20px;
  background-color: white;
  top: 45px;
  left: 100px;
  z-index: 50;
}
.item3{
  width: 100px;
  height: 100px;
  background-color: rgb(12, 97, 207);
  top:15px;
  left: 80px;
  z-index:1;
}
.item4{
  width: 100px;
  height: 100px;
  background-color: rgb(20, 165, 141);
  top:60px;
  left: 140px;
  z-index:2;
}
.item5{
  width: 100px;
  height: 100px;
  background-color: rgb(6, 92, 36);
  top:105px;
  left: 200px;
  z-index:3;
}
.item6{
  width: 100px;
  height: 100px; 
  background-color: rgb(255, 255, 0);
  top: 70px;
  left: 260px;
  z-index:4;
}
.item7{
  width: 100px;
  height: 100px;
  background-color: rgb(162, 12, 207);
  top: 70px;
  left: 320px;
  z-index: 5;
}