<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>result</h1>
  <p>파일 개수 <%=filecount%></p>
  <p>첫번째 파일 : <%=filenames[0].filename%></p>
  <% for(var i = 0; i< filecount; i++){ %>
    <img src="/download/<%=filenames[i].filename%>">
  <% } %>
</body>
</html>