<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> <%= commentInfo.userId%> 님의 개인정보~!</h1>
  <h1>비밀번호는 <%= commentInfo.userPw%>!</h1>
  <h1>당신의 본명은 <%= commentInfo.username%>!!</h1>
  <h1>당신의 나이는 <%= commentInfo.userage%>살!!!</h1>
</body>
</html>