<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>안녕하세요 <%=userInfo.DefaultUserId%>님!</h1>
  <h1>비밀번호는 <%=userInfo.DefaultUserPw%>네요!</h1>
  <h1>실명은 <%=userInfo.DefaultUsername%>이세요.</h1>
  <h1>나이는 <%=userInfo.DefaultUserage%>네요</h1>
</body>
</html>