<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <form action="/login">
    <label for="id">ID</label>
  <input type="id" name="id" id="id" placeholder="3글자 이상 입력하세요" minlength="3">
  <label for="pw">PW</label><input type="password" name="pw" placeholder="PW" id="pw">
    <input type="number" name="grade" placeholder="GRADE" max="4">
    
    <button> 제출하기 </button>
  </form>
</body>
</html>