<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>FORM양식</h1>
  <h2>GET방식</h2>
  <form action="/login" method="get">
    <label for="ID">ID: </label>
    <input type="text" name="id" id="id" placeholder="3글자 이상 작성" minlength="3">
    <br>
    <label for="pw">비번</label>
    <input type="password" name="pw" id="pw" placeholder="비번 입력" reqired>
    <input type="submit">
  </form>
</body>
</html>