<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./images/testimonial.jpg" alt="">
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="./images/sprite.svg#search"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <div class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore dolorem totam, ex quidem, maiores tempora provident earum eveniet aspernatur iste rerum distinctio sit quasi natus! Alias nihil natus unde maiores.
      </div>
      <footer>
        <div class="media">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--small">
                <use xlink:href="./images/sprite.svg#search"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__organization">Spreatics.com</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>