<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./partials/header.ejs')%>
</head>
<body>
  <nav>
    <%-include('./partials/nav.ejs')%>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur at in sapiente nulla, repellendus corrupti dolore consequatur earum quam fugit nobis sit quos necessitatibus perspiciatis ducimus esse neque ab repellat!</p>
</body>
</html>