<html lang="en">
  <head>
  <%-include("./partials/header.ejs")%>
</head>
<body>
  <nav>
    <%-include("./partials/nav.ejs")%>
  </nav>
<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium veritatis optio similique reiciendis porro repudiandae necessitatibus magni eius officiis illum. Porro voluptatem labore exercitationem culpa sed beatae numquam, repellat similique.
</div>
<footer>
  <%-include("./partials/footer.ejs")%>
</footer>
</body>
</html>