.App {
  text-align: center;
}

h3{
  background-color: #3f78fc;
  color:white;
  width:100%;
  height : 50px;
  text-align: center;
  line-height: 50px;
}

.contents{
  width:50%;
  margin: 0 auto;
  background-color: #dfdfdf;
  border-radius: 10px;
  box-shadow:5px 5px 20px #797979;
}

.contentTitleNum{
  color: #3f78fc;
  font-size: medium;
}

.contentTitle{
  color: #858484;
  font-size: small;
}