<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <h1>Result : <%=title%></h1>
  <div>
    <span><%=userInfo.id%></span>님 환영합니다.
  </div>
  <div>
    비밀번호는 <span><%=userInfo.pw%></span>입니다.
  </div>
  <script>
    window.onload= function(){
      console.log(window.title, this.userInfo);
    }
  </script>
</body>
</html>