<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1>로그인</h1>
  <form name="login">
    <label for="userid">ID</label>
    <input type="text" id="userid" name="userid" required>
    
    <label for="password">Password</label>
    <input type="text" id="password" name="pw" required>

    <button type="button" onclick="login()">Login</button>
  </form>
  <a href="/user/signup">회원가입</a>

  <script>
    function login(){
      
    }
  </script>

</body>
</html>